<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>producto</title>

		<link
			href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
			rel="stylesheet"
		/>

		<!-- TODO: BORRAR EL CODIGO DOCUMENTADO -->
		<!-- <link rel="stylesheet" href="/assets/css/styles.css" /> -->
		<!-- <link rel="stylesheet" href="/assets/css/product.css" /> -->
		<link rel="stylesheet" href="../assets/css/styles.css" />
		<link rel="stylesheet" href="../assets/css/product.css" />
	</head>
	<body>
		<div class="header">
			<nav class="nav">
				<div class="nav__menu">
					<div class="nav__logo">
						<a href="/index.html">
							<img src="../assets/img/GM_03.svg" alt="" />
						</a>
					</div>

					<div class="nav__link">
						<a href="/index.html" class="nav__links">INICIO </a>
						<div class="nav__link nav__link--dropdown">
							<a href="#producto" class="nav__links product__btn">PRODUCTOS</a>
							<i class="bx bx-chevron-down"></i>
							<div class="dropdown-content">
								<a href="/view/scooter.html">CUB/SCOOTERS</a>
								<a href="/view/nake_sport.html">NAKED/SPORT</a>
								<a href="/view/enduro.html">ENDURO</a>
							</div>
						</div>
						<a href="./contacto.html" class="nav__links">CONTACTO</a>
						<a href="#preguntas" class="nav__links">PREGUNTAS FRECUENTES</a>
					</div>
				</div>
				<div class="nav__btn">
					<a href="#" class="nav__btns nav__btns--iniciar">Inicio de sessión</a>
					<a href="#" class="nav__btns nav__btns--crear">Crear cuenta</a>
				</div>
			</nav>

			<div class="header__content">
				<img
					src="../assets/img/SECCION WAVE_01.jpg"
					alt=""
					class="header__img"
				/>
			</div>

			<div class="header__menu">
				<a href="#" class="header__link">PORTADA</a>
				<a href="#" class="header__link">DESCRIPCIÓN</a>
				<a href="#" class="header__link">GALERÍA</a>
				<a href="#" class="header__link">VISTA 360°</a>
				<a href="#" class="header__link">FICHA TECNICA</a>
				<a href="#" class="header__link header__link--red">COTIZAR</a>
			</div>
		</div>

		<section class="product">
			<div class="producto__img">
				<img src="/assets/img/WAVEs110_001 1.png" alt="" />
			</div>
			<div class="producto__info">
				<div class="product__info-header">
					<h3 class="product__name">WAVE S</h3>
					<p class="product__cilindraje">Cilindraje: 110cc</p>
				</div>

				<div class="container__prince">
					<p class="product__price"> $000.000</p>
					<p>CREDI HONDA PLUS</p>
				</div>

				<div class="product__plan">
					<p>Aprobación automática, sin entrada y sin garante</p>
					<p>Cuotas desde $144.00</p>
				</div>

				<div class="product__general">
					<ul>
						<li>Seguro por pérdida total</li>
						<li>Seguro de desgravamen</li>
						<li>Incluye Matrícula y Casco</li>
						<li>Conéctate a tu Honda con GPS Satelital (Honda Satelital EC)</li>
						<li
							>La CB125F twister sorprende con un diseño deportivo que te hará
							ganar mas que miradas, autonomia superior para llegar mas lejos y
							toda la calidad que caracteriza a Honda</li
						>
						<li>Estása un paso de llegar mucho más lejos</li>
					</ul>
				</div>

				<a href="#" class="product__link">Descargar ficha tecnica</a>

				<div class="description__container">
					<div class="description__color">
						<p class="description__title">Colores disponibles</p>
						<div class="colores">
							<div class="color-red"></div>
							<div class="color-black"></div>
							<div class="color-white"></div>
						</div>
					</div>

					<div class="compartir">
						<p class="compartir__title">Compartir</p>
						<i class="bx bxl-facebook-circle"></i>
						<i class="bx bxl-whatsapp"></i>
					</div>
				</div>

				<a href="#" class="btn__cotizar">COTIZAR</a>
			</div>
		</section>

		<section class="product__icon">
			<div class="product__item item-1"></div>
			<div class="product__item item-2"></div>
			<div class="product__item item-3"></div>
			<div class="product__item item-4"></div>
			<div class="product__item item-5"></div>
		</section>

		<section class="product__imagenes">
			<div class="full-img" id="fulImgBox">
				<img src="/assets/img/Rectangle 30.png" id="fullImg" alt="" />
				<span onclick="closeImg()">X</span>
			</div>

			<div class="product__imagen imagen-1">
				<img
					src="/assets/img/Rectangle 30.png"
					onclick="openFullImg(this.src)"
					alt=""
				/>
			</div>

			<div class="product__imagen imagen-1">
				<img
					src="/assets/img/Rectangle 36.png"
					onclick="openFullImg(this.src)"
					alt=""
				/>
			</div>
			<div class="product__imagen imagen-2">
				<img
					src="/assets/img/Rectangle 33.png"
					onclick="openFullImg(this.src)"
					alt=""
				/>
			</div>
			<div class="product__imagen imagen-3">
				<img
					src="/assets/img/Rectangle 37.png"
					onclick="openFullImg(this.src)"
					alt=""
				/>
			</div>
			<div class="product__imagen imagen-4">
				<img
					src="/assets/img/Rectangle 34.png"
					onclick="openFullImg(this.src)"
					alt=""
				/>
			</div>
			<div class="product__imagen imagen-5">
				<img
					src="/assets/img/Rectangle 41.png"
					onclick="openFullImg(this.src)"
					alt=""
				/>
			</div>
			<div class="product__imagen imagen-6">
				<img
					src="/assets/img/Rectangle 32.png"
					onclick="openFullImg(this.src)"
					alt=""
				/>
			</div>
			<div class="product__imagen imagen-7">
				<img
					src="/assets/img/Rectangle 35.png"
					onclick="openFullImg(this.src)"
					alt=""
				/>
			</div>
		</section>

		<section class="view__product">
			<div class="view__container">
				<h2>VISTA 360°</h2>
				<hr />
			</div>

			<img src="/assets/img/WAVEs110_002 2.png" class="product__view" alt="" />
		</section>

		<section class="fichaTecnica">
			<div class="table">
				<div class="header__table">
					<h2>FICHA TÉCNICA</h2>
					<hr />
				</div>

				<table class="table__body">
					<thead>
						<tr>
							<td>Motors</td>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Tipo de motors</td>
							<td
								>Monocilí­ndrico, 4 tiempos, 2 válvulas, OHC, refrigerado
								aire</td
							>
						</tr>

						<tr>
							<td>Cilindrada</td>
							<td>109,1 cc</td>
						</tr>

						<tr>
							<td>Potencia máxima</td>
							<td>9,3 cv @ 7,500 rpm</td>
						</tr>

						<tr>
							<td>Velocidad máxima</td>
							<td>85 km/h</td>
						</tr>

						<tr>
							<td>Alimentación</td>
							<td>Carburador</td>
						</tr>

						<tr>
							<td>Encendido</td>
							<td>CDI y avance electrónico</td>
						</tr>

						<tr>
							<td>Arranque</td>
							<td>Electrico y pedal</td>
						</tr>

						<tr>
							<td>Transmisión</td>
							<td>4 velocidades</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

		<footer class="footer">
			<div class="col-1-footer">
				<img src="/assets/img/Group.png" class="col-1-footer__img" alt="" />
				<p
					>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nihil
					debitis natus. Impedit, quaerat repellat magni corporis quod obcaecati
					illum.
				</p>
				<div class="col-1__iconos">
					<i class="bx bxl-instagram"></i>
					<i class="bx bxl-facebook-circle facebook__link"></i>
					<i class="bx bxl-twitter"></i>
				</div>
			</div>

			<div class="col-2-footer">
				<h3 class="col-2-footer__title">Navegación</h3>
				<ul>
					<li>
						<a href="#">Inicio</a>
					</li>
					<li>
						<a href="#">Productos</a>
					</li>
					<li>
						<a href="#">Contactanos</a>
					</li>
					<li>
						<a href="#">Preguntas frecuentes</a>
					</li>
				</ul>
			</div>

			<div class="col-3-footer">
				<h3 class="col-3-footer__title">Contactanos</h3>
				<ul>
					<li>
						<i class="bx bx-mail-send"></i>
						<small>genesismotors@gmail.com</small>
					</li>
					<li>
						<i class="bx bx-mobile-alt"></i>
						<small>+54 351 726-8566</small>
					</li>
					<li>
						<i class="bx bxs-map"></i>
						<small>Cayetano Silva 180</small>
					</li>
				</ul>
			</div>

			<div class="col-4-footer">
				<h3 class="col-4-footer__title">Envianos un mensaje</h3>
				<label for="">
					<input type="text" class="col-4-footer__input" placeholder="email" />
					<button class="col-4-footer__button">
						<i class="bx bx-send"></i>
					</button>
				</label>
			</div>

			<div class="footer__derechos">
				<p>2020 Genesis Motors. Todos los derechos reservados</p>

				<div class="footer__link">
					<a href="#">Terminos & Condiciones | </a>
					<a href="#">Politicas de Privacidad | </a>
					<a href="#">Politicas de compilance |</a>
					<a href="#">Condiciones Particulares</a>
				</div>
			</div>
		</footer>

		<script src="/assets/js/galeria.js"></script>
	</body>
</html>
