<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<!-- font-awesome -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
			integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<!-- Glider for carousels -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.css"
		/>

		<!-- Box icons -->
		<link
			href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
			rel="stylesheet"
		/>

		<!-- swiperjs -->
		<link
			rel="stylesheet"
			href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
		/>

		<!-- <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"
        integrity="sha512-17AHGe9uFHHt+QaRYieK7bTdMMHBMi8PeWG99Mf/xEcfBLDCn0Gze8Xcx1KoSZxDnv+KnCC+os/vuQ7jrF/nkw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    /> -->

		<link rel="stylesheet" href="/assets/css/styles.css" />
		<link rel="stylesheet" href="/assets/css/contacto.css" />
		<link rel="stylesheet" href="/assets/css/scooter.css" />
	</head>
	<body>
		<div class="header">
			<nav class="nav">
				<div class="nav__menu">
					<div class="nav__logo">
						<a href="/index.html">
							<img src="../assets/img/GM_03.svg" alt="" />
						</a>
					</div>

					<div class="nav__link">
						<a href="/index.html" class="nav__links">INICIO </a>
						<div class="nav__link nav__link--dropdown">
							<a href="#producto" class="nav__links product__btn">PRODUCTOS</a>
							<i class="bx bx-chevron-down"></i>
							<div class="dropdown-content">
								<a href="/view/scooter.html">CUB/SCOOTERS</a>
								<a href="/view/nake_sport.html">NAKED/SPORT</a>
								<a href="/view/enduro.html">ENDURO</a>
							</div>
						</div>
						<a href="./contacto.html" class="nav__links">CONTACTO</a>
						<a href="#preguntas" class="nav__links">PREGUNTAS FRECUENTES</a>
					</div>
				</div>
				<div class="nav__btn">
					<a href="#" class="nav__btns nav__btns--iniciar">Inicio de sessión</a>
					<a href="#" class="nav__btns nav__btns--crear">Crear cuenta</a>
				</div>
			</nav>

			<div class="header__content">
				<img src="../assets/img/Seccion 2.png" alt="" class="header__img" />
			</div>
		</div>

		<section class="scooter__product">
			<div class="scooter__categoria">
				<div class="scooter__container">
					<div class="scooter__header">
						<h2>CATEGORÍAS</h2>
					</div>
					<div class="cantegoria__content">
						<a href="/view/scooter.html" class="active">
							<h2>CUB/SCOOTERS</h2>
						</a>
						<hr />
						<a href="/view/nake_sport.html">
							<h2>NAKED/SPORT</h2>
						</a>
						<hr />
						<a href="/view/enduro.html">
							<h2>ENDURO</h2>
						</a>
					</div>
				</div>
			</div>

			<div class="product__list">
				<div class="product__item">
					<div class="item__img">
						<img src="/assets/img/IMAGEN 01.png" alt="" />
					</div>
					<div class="item__container">
						<div class="item__title">
							<h2>HONDA WAVE S</h2>
							<p>Cilindraje: 110cc</p>
						</div>
						<a href="/view/product.html" class="btn__detalles">
							<i class="bx bx-chevron-right"></i>
							<p>VER DETALLES</p>
						</a>
					</div>
				</div>
				<div class="product__item">
					<div class="item__img">
						<img src="/assets/img/IMAGEN 02.png" alt="" />
					</div>
					<div class="item__container">
						<div class="item__title">
							<h2>YAMAHA CRYPTON</h2>
							<p>Cilindraje: 110cc</p>
						</div>
						<a href="/view/product.html" class="btn__detalles">
							<i class="bx bx-chevron-right"></i>
							<p>VER DETALLES</p>
						</a>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer">
			<div class="col-1-footer">
				<img src="/assets/img/Group.png" class="col-1-footer__img" alt="" />
				<p
					>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nihil
					debitis natus. Impedit, quaerat repellat magni corporis quod obcaecati
					illum.
				</p>
				<div class="col-1__iconos">
					<i class="bx bxl-instagram"></i>
					<i class="bx bxl-facebook-circle"></i>
					<i class="bx bxl-twitter"></i>
				</div>
			</div>

			<div class="col-2-footer">
				<h3 class="col-2-footer__title">Navegación</h3>
				<ul>
					<li>
						<a href="#">Inicio</a>
					</li>
					<li>
						<a href="#">Productos</a>
					</li>
					<li>
						<a href="#">Contactanos</a>
					</li>
					<li>
						<a href="#">Preguntas frecuentes</a>
					</li>
				</ul>
			</div>

			<div class="col-3-footer">
				<h3 class="col-3-footer__title">Contactanos</h3>
				<ul>
					<li>
						<i class="bx bx-mail-send"></i>
						<small>genesismotorsadm@gmail.com</small>
					</li>
					<li>
						<i class="bx bx-mobile-alt"></i>
						<small>+54 0351 342-1277</small>
					</li>
					<li>
						<i class="bx bxs-map"></i>
						<small>Av. Marcelo T. de Alvear 750</small>
					</li>
				</ul>
			</div>

			<div class="col-4-footer">
				<h3 class="col-4-footer__title">Envianos un mensaje</h3>
				<label for="">
					<input type="text" class="col-4-footer__input" placeholder="email" />
					<button class="col-4-footer__button">
						<i class="bx bx-send"></i>
					</button>
				</label>
			</div>

			<div class="footer__derechos">
				<p>2020 Genesis Motors. Todos los derechos reservados</p>

				<div class="footer__link">
					<a href="#">Terminos & Condiciones | </a>
					<a href="#">Politicas de Privacidad | </a>
					<a href="#">Politicas de compilance |</a>
					<a href="#">Condiciones Particulares</a>
				</div>
			</div>
		</footer>
	</body>
</html>
